@page 
@model AssistWith.Pages.Profiles.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h2>Index</h2>
<a asp-page="/Profiles/Edit" asp-route-id="0">Add</a>
<table>
    @foreach (var item in Model.Profiles)
    {
    <tr>
        <td><a asp-page="/Profiles/Edit" asp-route-id="@item.ProfileId">Edit</a></td>
        <td><a href="@item.ProfileUrlNormalized" target="_blank">Open</a></td>
        <td>@item.PROCODE</td>
        <td>@item.Username</td>
        <td>@item.Password</td>
    </tr> 
    }
</table>